* {
	font-family: Calibri, sans-serif;
}
.row {
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
}
.column {
	padding: 0 20px;
}
label {
	display: flex;
	width: 100%;
	font-weight: 900;
	font-size: 14px;
}

.inputTop {
	padding: 5px;
	height: 25px;
	border: 1px solid #cccccc;
	color: #777;
	transition: .5s;
	font-size: 18px;
}
.inputTop:focus {
	outline: 0;
	border-color: #bbbbbb;
	box-shadow: 0 0 10px #cccccc;
}
input[type="radio"] {
	vertical-align: top;
}
.btnCalcular {
	background: green;
	color: #ffffff;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
	font-size: 16px;
}
.mt-3 {
	margin-top: 25px;
}